.navbars 
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href='/') olx
            form.d-flex.formFor
                input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-success(type='submit') Qidiruv
            .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item
                a.nav-link(href='/add') Mahsulot qoshish  
                a.nav-link(href='/register') Royhatdan otish
                a.nav-link(href='/register/login') kirsh
                a(href="register/logout") chiqish 

